<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>patrimon.io</title>
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container-login">
        <div class="logo-secao">
            <div class="logo-img">
                <i class="fa-solid fa-box"></i>
            </div>
            <div class="logo-texto">
                <span class="logo-texto-1">patrimon.</span><span class="logo-texto-2">io</span>
            </div>
        </div>

        <form action="">
            <div class="form-campos">
                <input type="text" placeholder="Usuário">
                <input type="password" placeholder="Senha">
            </div>
            <div class="form-opcao">
                <a href="">Esqueceu sua senha?</a>
            </div>
            <div class="form-botao">
                <button>Entrar</button>
            </div>
            <div class="form-copyright">
                <p>© 2025 patrimon.io - Todos os direitos reservados</p>
            </div>
        </form>
    </div>
</body>
</html>