<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asset Manager</title>

    <link rel="icon" href="../assets/images/icone/icone_branco.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/style_tela_login.css">
</head>
<body>
    <main>
        <img src="../assets/images/logo/logo_branca.png" alt="logo">
        <form class="login-usuario" action="view_tela_principal.html" method="">
            <input type="text" placeholder="Usuário">
            <input type="password" placeholder="Senha">
            <input type="submit" value="Entrar">
            <a href="" id="ancora-esqueci-senha">Esqueceu sua senha?</a>
        </form>
        <div id="modal-esqueci-senha"></div>
        <div id="modal-aviso-privacidade"></div>
    </main>

    <footer>
        <div class="rodape-esquerda">
            <p>Guilherme Xavier © 2025</p>
            <a href="" id="ancora-aviso-privacidade">Aviso de Privacidade</a>
        </div>
        <div class="rodape-centro">
            <p>Homologação</p>
        </div>
        <div class="rodape-direita">
            <p></p>
        </div>
    </footer>
    
    <script src="../assets/js/script_data.js"></script>
    <script src="../assets/js/modal/modal_esqueci_senha.js"></script>
    <script src="../assets/js/modal/modal_aviso_privacidade.js"></script>
</body>
</html>