<link rel="stylesheet" href="../assets/css/modal/modal_aviso_privacidade.css">
<div class="modal">
    <div class="modal-conteudo">
        <div>
            <p class="modal-titulo">Aviso de Privacidade</p>
            <p class="modal-mensagem">
                O presente Aviso de Privacidade tem como objetivo informar de forma clara e transparente como os dados pessoais
                são coletados, utilizados, armazenados e protegidos no Sistema.
            </p>
        </div>
        <div class="modal-botao">
            <button class onclick="fecharModalAvisoPrivacidade()">Fechar</button>
        </div>
    </div>
</div>