:root {
    --background-sombra: #00000088;
    --background-modal: #fff;
    --cor-botao-principal: #003376;
}

.modal {
    background: var(--background-sombra);
    position: fixed;
    z-index: 1000;

    height: 100%;
    width: 100%;

    left: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-conteudo {
    background: var(--background-modal);
    width: 60vw;
    padding: 10px;
}

.modal-titulo {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.modal-titulo-topico {
    margin-top: 30px;
    font-weight: bold;
}

.modal-subtitulo-topico {
    margin-left: 15px;
}

.modal-item-topico {
    margin-left: 30px;
}

.modal-botao {
    margin-top: 30px;

    display: flex;
    justify-content: end;
}

.modal-botao button {
    background-color: var(--cor-botao-principal);
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    padding: 6px;
}

.modal-botao button:focus {
    outline: 2px solid var(--cor-botao-principal);
    outline-offset: 2px;
}