@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --background-degrade: linear-gradient(-90deg, #00578a, #003376, #051E47, #081127);
    --cor-botao-login: #22a53a;
    --cor-botao-login-foco: #1d8d32;
    --cor-fonte-rodape: #b4b4b4;
}

* {
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: var(--background-degrade);
    max-height: 100vh;
}

main {
    height: 98vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main img {
    margin-bottom: 20px;
    width: 150px;
}

.login-usuario {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-usuario input {
    border: none;
    font-size: 15px;
    outline: none;
    padding: 5px;
}

.login-usuario input[type="submit"] {
    background-color: var(--cor-botao-login);
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    transition: .1s;
}

.login-usuario input[type="submit"]:focus,
.login-usuario input[type="submit"]:hover {
    background-color: var(--cor-botao-login-foco);
}

main a {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    width: auto;
}

footer {
    height: 2vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rodape-esquerda,
.rodape-direita {
    font-size: 12px;
    width: 33%;
}

.rodape-esquerda {
    color: var(--cor-fonte-rodape);
    margin-left: 5px;
    text-align: left;

    display: flex;
    gap: 10px;
}

.rodape-esquerda a {
    color: var(--cor-fonte-rodape);
    text-decoration: none;
}

.rodape-esquerda a:focus,
.rodape-esquerda a:hover {
    color: #fff;
    text-decoration: underline;
}

.rodape-centro {
    color: var(--cor-fonte-rodape);
    text-align: center;
    font-size: 12px;
}

.rodape-centro p {
    background-color: #e9d200;
    border-radius: 3px;
    color: #003376;
    padding: 1px;
    
}

.rodape-direita {
    color: var(--cor-fonte-rodape);
    margin-right: 5px;
    text-align: right;
}